.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: none;
  cursor: pointer;

  &_accented {
    padding: 16px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $color-default-white;
    text-align: center;

    background-color: $color-carrot-orange;
    border-radius: 4px;
    transition: background-color $trans-default;
    outline: none;

    @media (hover: hover), screen and (min-width: $vp--1024) {
      &:hover,
      &:focus {
        background-color: $color-mango-tango-1;
      }

      &:active {
        background-color: $color-mango-tango-2;
      }

      &:disabled {
        background-color: $color-peach-orange;
      }
    }
  }

  &_transparent {
    background-color: $color-transparent;
    border: none;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover svg,
      &:focus svg {
        opacity: 0.8;
      }
    }
  }

  &_bordered {
    background-color: $color-default-white;
    border: 2px solid $color-ghost-white;
    border-radius: 8px;

    @include vp-1024 {
      border-radius: 16px;
    }
  }
}
