.contacts-block {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.contacts-block__time,
.contacts-block__address {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.contacts-block__time {
  margin-bottom: 3px;
  letter-spacing: -0.01em;

  span:not(:last-child) {
    margin-right: 10px;
  }
}

.contacts-block__hours {
  margin-left: auto;
  letter-spacing: -0.025em;
}

.contacts-block__tel {
  margin-bottom: 1px;

  font-size: 25px;
  line-height: 29px;
  letter-spacing: -0.02em;

  @include vp--1279 {
    font-size: 16px;
  }
}

.contacts-block__address {
  padding-top: 4px;
  letter-spacing: -0.01em;
  border-top: 1px solid $color-light-grey;
}

.contacts-block__triangle {
  margin-top: 3px;
  border: 4px solid $color-transparent;
  border-left: 6.8px solid $color-nero;

  transition: border-color $trans-default;
}

.contacts-block__select {
  display: flex;
  align-items: baseline;
  padding: 0;

  color: $color-nero;
  letter-spacing: -0.01em;

  &:hover .contacts-block__triangle,
  &:focus .contacts-block__triangle {
    border-left: 6.8px solid $color-torch-red;
  }
}
