.estimation {
  position: relative;
  margin-bottom: 44px;

  @include vp-1024 {
    margin-bottom: 48px;
  }
}

.estimation__contentWrapper {
  background-color: $color-royal-blue;
  border-radius: 24px;
  overflow: hidden;
}

.estimation__content {
  display: flex;
  flex-direction: column;
  padding: 24px 24.5px;

  @include vp-1024 {
    position: relative;
    padding: 63px 96px 71px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url("../img/content/house-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: overlay;
      background-position-y: 0;
      background-position-x: 0;
      opacity: 20%;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/content/house-desktop@2x.png");
      }
    }
  }
}

.estimation__offer {
  position: relative;
  flex-wrap: nowrap;
  padding: 7px 9px 6px;
  margin: 0 24px 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $color-oxford-blue;

  background: $color-ghost-white;
  border-radius: 8px;

  @include vp-768 {
    margin: 0 auto 16px;
    width: fit-content;
  }

  @include vp-1024 {
    padding: 8px 9px;
  }

  &_bordered {
    border: 1px solid $color-carrot-orange;
  }
}

.estimation__offerIcon {
  width: 21px;
  height: 22px;
  flex-shrink: 0;
  margin-right: 10px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.estimation__offerText {
  margin: 0;

  @include vp-1024 {
    max-width: 500px;
  }
}

.estimation__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 25px;
  line-height: 36px;
  color: $color-default-white;

  @include vp-768 {
    text-align: center;
  }

  @include vp-1024 {
    margin-bottom: 31px;
  }
}

.estimation__form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 25px;

  background-color: $color-default-white;
  border-radius: 15px;
}
