.header {
  width: 100%;
  min-height: 52px;

  background-color: $color-royal-blue;
}

.header__content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 8px 0;

  @include vp-1024 {
    padding: 16px 0;
  }
}

.header__link {
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $color-default-white;

  @include vp-1024 {
    line-height: 20px;
  }
}
