.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 3px;
  margin-bottom: 19px;

  border-bottom: 1px solid $color-light-grey;

  @include vp--767 {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.main-nav__list {
  @include reset-list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;

  @include vp--767 {
    display: none;
  }
}

.main-nav__item {
  margin-bottom: 5px;

  &:not(:last-of-type) {
    margin-right: 25px;
  }

  @include vp--1023 {
    &:not(:last-of-type) {
      margin-right: 15px;
    }
  }
}

.main-nav__link {
  color: $color-nero;
}
