.modalEstimation {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding-top: 55.5px;

  @include vp-1024 {
    padding-top: 72px;
  }
}

.modalEstimation__btnNext {
  width: 100%;
  margin-bottom: 16px;

  @include vp-1024 {
    max-width: 87px;
    margin-bottom: 16px;
  }
}
