.promo-links {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 15px;
  row-gap: 15px;
  margin-top: 2px;
}

.promo-links__link {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.promo-links__item {
  width: 70px;
  height: 70px;

  border: 1px solid $color-gainsboro-2;
  transition: border $trans-default;

  &:hover,
  &:focus {
    border: 1px solid $color-nero;
  }

  @include vp--1023 {
    width: 80px;
    height: 80px;
  }

  @include vp--767 {
    width: 100%;
    height: 100%;
  }
}
