.search-panel {
  width: 100%;
  min-height: 34px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 8px;

  background-color: $color-tangerine-yellow;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.search-panel__btn {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  padding: 2.1px;
  margin-top: 3px;
  margin-right: 7px;

  svg {
    width: 100%;
    height: 100%;
    transition: color $trans-default;
    color: $color-default-black;
  }

  &:hover,
  &:focus {
    svg {
      color: $color-torch-red;
    }
  }
}

.search-panel__sale {
  display: flex;
  align-items: center;
  max-width: 127px;
  margin-left: 14px;
  margin-right: 7px;
  min-height: inherit;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  @include vp--767 {
    font-size: 12px;
  }
}

.search-panel__tabs {
  @include reset-list;
  width: 100%;
  min-height: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding-left: 59px;

  background-color: $color-nero;

  @include vp--1023 {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  @include vp--767 {
    padding-left: 0;
  }
}

.search-panel__tab-btn {
  padding: 9px 19px;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  color: $color-default-white;

  &.active {
    color: $color-default-black;
    background-color: $color-tangerine-yellow;
    pointer-events: none;
  }

  @include vp--1279 {
    font-size: 12px;
  }

  @include vp--767 {
    padding: 0 19px;
  }
}

.search-panel__item {
  align-items: stretch;
  display: flex;
}
