// Colors
// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-nero:                       #222222;
$color-dim-gray:                   #646464;
$color-kelly-green:                #52c41a;
$color-carrot-orange:              #fa8c16;
$color-mango-tango-1:              #f16e00;
$color-mango-tango-2:              #e16803;
$color-peach-orange:               #fcc58a;
$color-oxford-blue:                #263238;
$color-royal-blue:                 #2f54eb;
$color-cornflower-blue:            #6d87f1;
$color-ghost-white:                #f5f6fe;
$color-free-speech-red:            #bb0000;

// Typography
//---------------------------------

$ff--montserrat:          "Montserrat", "Arial", sans-serif;
$ff--open-sans:           "Open Sans", "Arial", sans-serif;

// Animation
//---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// Viewports
//---------------------------------

$vp--320:                           320px;
$vp--375:                           375px;
$vp--768:                           768px;
$vp--1024:                          1024px;
$vp--1280:                          1280px;
$vp--1440:                          1440px;
$vp--1920:                          1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
