.logo {
  flex-shrink: 0;

  img {
    width: 100%;
    height: auto;
  }

  &__link {
    width: 100%;
    height: auto;
  }

  &_header {
    width: 166px;
    height: 39.5px;

    @include vp-1024 {
      width: 207px;
      height: 49.5px;
    }
  }

  &_footer {
    width: 202px;
    height: 37px;
  }
}
